 <section class="section overflow-hidden">
   <img src="{{styles:background_image}}" class="absolute object-cover top-0 left-0 w-full h-full z-[-1] opacity-100" />

    <section class="row w-container justify-center">
        <section class="w-full lg:w-C10 relative flex justify-center items-center">
            <img src="{{styles:logo_back}}" class="hidden absolute z-[-1] w-full transform rotate-12" /> 
            <img src="{{styles:logo}}" class="w-full max-w-[960px] box-border" />
        </section>
        <section class="w-full lg:w-C10 relative mt-12 ">
            <div class="absolute  -top-12 -left-12 -right-12 -bottom-12 transform -rotate-2 shadow-lg border-yellow-500 border-2 z-[-1] bg-white p-2">
                <div class=" w-full h-full  border-yellow-600 border z-[-1] bg-transparent "></div>    
            </div>
            <div class="">
                <h1>{{ heading }}</h1>
                <p>
                    {{ intro }}
                </p>
            </div>
        </section>
        
    </section>
</section>
<section class="section">
    <section class="row w-container justify-center">
        <section class="w-full lg:w-C10">
            {{bard_content}}
                {{partial src="bard/{{type}}"}}
            {{/bard_content}}
         </section>
    </section>
</section>
<section class="section">
    <section class="row w-container">
        <section class="w-full flex justify-items-center">
             <h2 class="inline bg-primary text-white mx-auto p-4 tranform -rotate-2 mb-4">Uitgelicht</h2>
        </section>
        {{featured}}
             {{partial src="{{collection}}/listing"}}
        {{/featured}}
    </section>
</section>