<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <style>
            :root{
                --colors_primary:{{styles:colors_primary}};
                --colors_secondary:{{styles:colors_secondary}};
                --logo_back:url('{{styles:logo_back}}');
            }
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    </head>
        {{partial:nav}}
    <body class="font-primary text-gray-800 bg-gray-50 leading-normal">
        {{template_content}}
        {{partial:footer}}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
