<section class="section bg-secondary">

    <section class="row w-container justify-center " >

        <section class="w-full lg:w-C10">

<h3 class="text-white">Heb je een vraag? Laat even een bericht achter!</h3>
<div class="contactForm">
{{ form:contact }}
 
{{ if success }}
    <div class="bg-primary text-white p-4">
        <h3>Bedankt! Ik neem zo snel mogelijk contact met je op!</h3>
    </div>
{{ else }}
 
    {{ if errors }}
        <div class="bg-red-300 text-white p-2">
            {{ errors }}
                {{ value }}<br>
            {{ /errors }}
        </div>
    {{ /if }}


    <div class="flex flex-row flex-wrap justify-between">
        <div class="w-full md:w-C6 mt-4">
            {{ fields }}
                {{if index % 2 == 0}}
                    <label class="text-white">{{ display }}</label>
                    <div class="text-gray-900 my-4">{{ field }}</div>
                    {{ if error }}
                        <p class="text-gray-500">{{ error }}</p>
                    {{ /if }}
                {{/if}}
            {{ /fields }}
        </div>
        <div class="w-full md:w-C6 mt-4">
            {{ fields }}
                {{if index % 2 != 0}}
                    <label class="text-white">{{ display }}</label>
                    <div class="text-gray-900 my-4">{{ field }}</div>
                    {{ if error }}
                        <p class="text-gray-500">{{ error }}</p>
                    {{ /if }}
                {{/if}}
            {{ /fields }}
        </div>
    </div>

    <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">


    <button class="w-[192px] p-2 bg-white float-right mt-4" type="submit">versturen</button>
{{ /if }}

{{ /form:contact}}
</div>
</section>
    </section>
</section>