<div class="w-full fixed top-0 left-0 bg-white h-8 shadow  z-20"></div>
<nav class="nav">
    <input type="checkbox" id="toggleMenu" name="toggleMenu" class="hidden"/>
    <label for="toggleMenu" class="relative inline-block md:hidden float-right mr-12 w-auto text-white font-bold text-2xl px-4 py-1">
        <div class="backBorder w-full h-full absolute top-0 left-0 transform -rotate-6  border-white border-2 z-[-1] p-0 transition-all duration-[25]"></div>
        <span class="menuLabel"></span>
    </label>
    <div class="menuItems w-container max-w-full h-0 mx-auto md:h-auto md:overflow-visible overflow-hidden flex flex-row justify-between transition-all duration-[25]">
        {{nav include_home="true" }}
        <a class="menuItem relative text-white font-bold text-2xl px-4 py-1 hover:bg-primary transition-all {{ if is_current || is_parent }} current {{ /if }}" href="{{url}}">
            <div class=" w-full h-full absolute top-0 left-0 transform border-white border-2 z-[-1]  p-0"></div>  
            {{title}}
        </a>
        {{/nav}}
    </div>
</nav> 