/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
	--tw-ring-shadow: 0 0 rgba(0,0,0,0);
	--tw-shadow: 0 0 rgba(0,0,0,0);
}

    h1, .h1 {
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-family: Quicksand, sans-serif;
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 700;
}

    h1:first-child, .h1:first-child {
	margin-top: 0px;
	margin-bottom: 0px;
}

    @media (min-width: 768px) {

	h1, .h1 {
		font-size: 3.75rem;
		line-height: 1;
	}
}
    h2, .h2 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	font-family: Quicksand, sans-serif;
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 500;
}
    h2:first-child, .h2:first-child {
	margin-top: 0px;
	margin-bottom: 0px;
}
    @media (min-width: 768px) {

	h2, .h2 {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}
    h3, .h3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-family: Quicksand, sans-serif;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 400;
}
    h3:first-child, .h3:first-child {
	margin-top: 0px;
	margin-bottom: 0px;
}
    @media (min-width: 768px) {

	h3, .h3 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}   
    p, .p, ul {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-family: Quicksand, sans-serif;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

  .btn-primary {
	margin: 0.5rem;
	display: inline-block;
	--tw-rotate: -2deg;
	transform: var(--tw-transform);
	transform: var(--tw-transform);
	background-color: var(--colors_primary);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}


    .section {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}
    .row {
	position: relative;
	display: flex;
	max-width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

    .row > section {
	margin-top: 32px;
	margin-bottom: 32px;
}

    .nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
	margin-left: auto;
	margin-right: auto;
	width: 1920px;
	max-width: 100%;
	background-image: url('/assets/stijlen/nav.svg');
	background-position: center;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
    .nav .menuItem:nth-child(even) {
	--tw-rotate: 6deg;
	transform: var(--tw-transform);
}
    .nav .menuItem:nth-child(odd) {
	--tw-rotate: -6deg;
	transform: var(--tw-transform);
}

    .menuItem.current {
	background-color: var(--colors_secondary) !important;
}

    @media (min-width: 768px) {

	.menuItem.current {
		background-color: var(--colors_primary) !important;
	}
}


    .menuLabel:before{
      display:block;
      content:"menu";
    }

    
    @media (min-width: 768px) {

	#toggleMenu:checked + label {
		display: block !important;
	}
}

    #toggleMenu:checked + label > .menuLabel:before{
      content:"sluiten";
  }
  #toggleMenu:checked + label > .backBorder {
	--tw-rotate: 6deg !important;
	transform: var(--tw-transform) !important;
}

    
    #toggleMenu:checked ~ .menuItems {
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	z-index: -4 !important;
	height: 100vh !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	background-color: var(--colors_primary) !important;
	padding-top: 8rem !important;
}

    #toggleMenu:checked ~ .menuItems .menuItem {
	margin-top: 3rem;
	align-self: center;
}


    .contactForm input, .contactForm textarea {
	width: 100%;
	padding: 0.5rem;
}

.aspect-w-1,
.aspect-w-2,
.aspect-w-3,
.aspect-w-4,
.aspect-w-5,
.aspect-w-6,
.aspect-w-7,
.aspect-w-8,
.aspect-w-9,
.aspect-w-10,
.aspect-w-11,
.aspect-w-12,
.aspect-w-13,
.aspect-w-14,
.aspect-w-15,
.aspect-w-16 {
	position: relative;
	padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
}

.aspect-w-1 > *,
.aspect-w-2 > *,
.aspect-w-3 > *,
.aspect-w-4 > *,
.aspect-w-5 > *,
.aspect-w-6 > *,
.aspect-w-7 > *,
.aspect-w-8 > *,
.aspect-w-9 > *,
.aspect-w-10 > *,
.aspect-w-11 > *,
.aspect-w-12 > *,
.aspect-w-13 > *,
.aspect-w-14 > *,
.aspect-w-15 > *,
.aspect-w-16 > * {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.aspect-w-16 {
	--tw-aspect-w: 16;
}

.aspect-h-9 {
	--tw-aspect-h: 9;
}

.fixed {
	position: fixed !important;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}

.sticky {
	position: -webkit-sticky !important;
	position: sticky !important;
}

.top-0 {
	top: 0px !important;
}

.left-0 {
	left: 0px !important;
}

.right-1 {
	right: 0.25rem !important;
}

.top-1 {
	top: 0.25rem !important;
}

.top-20 {
	top: 5rem !important;
}

.right-0 {
	right: 0px !important;
}

.-left-12 {
	left: -3rem !important;
}

.-right-12 {
	right: -3rem !important;
}

.-top-12 {
	top: -3rem !important;
}

.-bottom-12 {
	bottom: -3rem !important;
}

.z-\[-1\] {
	z-index: -1 !important;
}

.z-20 {
	z-index: 20 !important;
}

.float-right {
	float: right !important;
}

.m-0 {
	margin: 0px !important;
}

.-m-12 {
	margin: -3rem !important;
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-4 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.mt-12 {
	margin-top: 3rem !important;
}

.mb-4 {
	margin-bottom: 1rem !important;
}

.mr-2 {
	margin-right: 0.5rem !important;
}

.mt-4 {
	margin-top: 1rem !important;
}

.mr-12 {
	margin-right: 3rem !important;
}

.mb-12 {
	margin-bottom: 3rem !important;
}

.-mt-12 {
	margin-top: -3rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.box-border {
	box-sizing: border-box !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.inline {
	display: inline !important;
}

.flex {
	display: flex !important;
}

.hidden {
	display: none !important;
}

.h-full {
	height: 100% !important;
}

.h-\[196px\] {
	height: 196px !important;
}

.h-4 {
	height: 1rem !important;
}

.h-8 {
	height: 2rem !important;
}

.h-0 {
	height: 0px !important;
}

.max-h-full {
	max-height: 100% !important;
}

.max-h-vh {
	max-height: 80vh !important;
}

.w-container {
	width: 1200px !important;
}

.w-full {
	width: 100% !important;
}

.w-\[192px\] {
	width: 192px !important;
}

.w-auto {
	width: auto !important;
}

.w-64 {
	width: 16rem !important;
}

.w-20 {
	width: 5rem !important;
}

.w-\[120\%\] {
	width: 120% !important;
}

.max-w-\[960px\] {
	max-width: 960px !important;
}

.max-w-full {
	max-width: 100% !important;
}

.rotate-12 {
	--tw-rotate: 12deg !important;
	transform: var(--tw-transform) !important;
}

.-rotate-2 {
	--tw-rotate: -2deg !important;
	transform: var(--tw-transform) !important;
}

.-rotate-6 {
	--tw-rotate: -6deg !important;
	transform: var(--tw-transform) !important;
}

.transform {
	transform: var(--tw-transform) !important;
}

.resize {
	resize: both !important;
}

.flex-row {
	flex-direction: row !important;
}

.flex-col {
	flex-direction: column !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.items-start {
	align-items: flex-start !important;
}

.items-center {
	align-items: center !important;
}

.justify-center {
	justify-content: center !important;
}

.justify-between {
	justify-content: space-between !important;
}

.justify-items-center {
	justify-items: center !important;
}

.self-start {
	align-self: flex-start !important;
}

.self-end {
	align-self: flex-end !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.border-4 {
	border-width: 4px !important;
}

.border {
	border-width: 1px !important;
}

.border-2 {
	border-width: 2px !important;
}

.border-yellow-500 {
	--tw-border-opacity: 1 !important;
	border-color: rgba(245, 158, 11, var(--tw-border-opacity)) !important;
}

.border-yellow-600 {
	--tw-border-opacity: 1 !important;
	border-color: rgba(217, 119, 6, var(--tw-border-opacity)) !important;
}

.border-white {
	--tw-border-opacity: 1 !important;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity)) !important;
}

.bg-white {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.bg-primary {
	background-color: var(--colors_primary) !important;
}

.bg-gray-50 {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity)) !important;
}

.bg-secondary {
	background-color: var(--colors_secondary) !important;
}

.bg-red-300 {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(252, 165, 165, var(--tw-bg-opacity)) !important;
}

.bg-none {
	background-image: none !important;
}

.object-cover {
	-o-object-fit: cover !important;
	   object-fit: cover !important;
}

.p-6 {
	padding: 1.5rem !important;
}

.p-12 {
	padding: 3rem !important;
}

.p-4 {
	padding: 1rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.p-0 {
	padding: 0px !important;
}

.p-24 {
	padding: 6rem !important;
}

.py-4 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.px-4 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.py-1 {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.text-center {
	text-align: center !important;
}

.font-primary {
	font-family: Quicksand, sans-serif !important;
}

.text-xs {
	font-size: 0.75rem !important;
	line-height: 1rem !important;
}

.text-2xl {
	font-size: 1.5rem !important;
	line-height: 2rem !important;
}

.font-bold {
	font-weight: 700 !important;
}

.leading-normal {
	line-height: 1.5 !important;
}

.text-white {
	--tw-text-opacity: 1 !important;
	color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}

.text-gray-800 {
	--tw-text-opacity: 1 !important;
	color: rgba(31, 41, 55, var(--tw-text-opacity)) !important;
}

.text-gray-900 {
	--tw-text-opacity: 1 !important;
	color: rgba(17, 24, 39, var(--tw-text-opacity)) !important;
}

.text-gray-500 {
	--tw-text-opacity: 1 !important;
	color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
}

.text-primary {
	color: var(--colors_primary) !important;
}

.opacity-100 {
	opacity: 1 !important;
}

.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow) !important;
}

.shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow) !important;
}

.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow) !important;
}

.transition-all {
	transition-property: all !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
	transition-duration: 150ms !important;
}

.duration-\[25\] {
	transition-duration: 25 !important;
}

.last\:mb-0:last-child {
	margin-bottom: 0px !important;
}

.hover\:scale-105:hover {
	--tw-scale-x: 1.05 !important;
	--tw-scale-y: 1.05 !important;
	transform: var(--tw-transform) !important;
}

.hover\:bg-primary:hover {
	background-color: var(--colors_primary) !important;
}

.group:hover .group-hover\:-rotate-6 {
	--tw-rotate: -6deg !important;
	transform: var(--tw-transform) !important;
}

.group:hover .group-hover\:scale-105 {
	--tw-scale-x: 1.05 !important;
	--tw-scale-y: 1.05 !important;
	transform: var(--tw-transform) !important;
}

@media (min-width: 768px) {

	.md\:mt-12 {
		margin-top: 3rem !important;
	}

	.md\:block {
		display: block !important;
	}

	.md\:hidden {
		display: none !important;
	}

	.md\:h-auto {
		height: auto !important;
	}

	.md\:w-C6 {
		width: calc(6/12*100% - (1 - 6/12)*64px) !important;
	}

	.md\:w-C8 {
		width: calc(8/12*100% - (1 - 8/12)*64px) !important;
	}

	.md\:w-C4 {
		width: calc(4/12*100% - (1 - 4/12)*64px) !important;
	}

	.md\:w-full {
		width: 100% !important;
	}

	.md\:overflow-visible {
		overflow: visible !important;
	}

	.md\:p-12 {
		padding: 3rem !important;
	}

	.md\:p-0 {
		padding: 0px !important;
	}
}

@media (min-width: 976px) {

	.lg\:h-vh {
		height: 80vh !important;
	}

	.lg\:w-C10 {
		width: calc(10/12*100% - (1 - 10/12)*64px) !important;
	}

	.lg\:w-C6 {
		width: calc(6/12*100% - (1 - 6/12)*64px) !important;
	}

	.lg\:w-C8 {
		width: calc(8/12*100% - (1 - 8/12)*64px) !important;
	}

	.lg\:w-C4 {
		width: calc(4/12*100% - (1 - 4/12)*64px) !important;
	}

	.lg\:p-24 {
		padding: 6rem !important;
	}
}

@media (min-width: 1440px) {

	.xl\:flex-nowrap {
		flex-wrap: nowrap !important;
	}
}
