@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {

    h1,.h1 {
        @apply text-4xl md:text-6xl font-bold my-12 first:my-0 font-primary;
    }
    h2,.h2 {
        @apply text-3xl md:text-4xl  font-primary font-medium my-10 first:my-0;
    }
    h3,.h3 {
        @apply text-xl  md:text-2xl font-primary font-normal my-8 first:my-0;;
    }   
    p,.p,ul {
      @apply text-lg font-primary my-6 
  }
  .emp {
    @apply text-lg font-medium font-primary;
  }

  .btn-primary{
    @apply inline-block bg-primary text-white text-center  px-6 py-2 transform -rotate-2 m-2;
  }
  .btn-secondary{
    @apply inline-block bg-white text-secondary text-center border-2 border-secondary px-6 py-2 transform -rotate-2 m-2;
  }


    .section{
      @apply  relative flex flex-col items-center w-full py-12 px-12;
    }
    .row{
      @apply relative max-w-full flex flex-row flex-wrap justify-between py-4;
    }

    .row > section{
      @apply my-[32px];
    }

    .nav{
      @apply fixed top-0 left-0 right-0  py-4 px-12  max-w-full w-[1920px] mx-auto z-20 text-white bg-nav_back bg-no-repeat bg-center bg-top;
    }
    .nav .menuItem:nth-child(even){
      @apply rotate-6;
    }
    .nav .menuItem:nth-child(odd){
      @apply -rotate-6;
    }

    .menuItem.current{
      @apply bg-secondary md:bg-primary !important;
    }

    .wrapper{
      max-width:1088px;
    }
    .alternate  > section:nth-child(even) > section:first-child{
      @apply lg:order-1;
    }


    .menuLabel:before{
      display:block;
      content:"menu";
    }

    
    #toggleMenu:checked + label{
      @apply md:block !important
  }

    #toggleMenu:checked + label > .menuLabel:before{
      content:"sluiten";
  }
  #toggleMenu:checked + label > .backBorder{
    @apply   rotate-6 !important;
}

    
    #toggleMenu:checked ~ .menuItems {
        @apply  fixed top-0 left-0 right-0 flex-col justify-start h-screen z-[-4] pt-32 bg-primary  !important;
    }

    #toggleMenu:checked ~ .menuItems .menuItem{
      @apply self-center mt-12;
    }


    .contactForm input, .contactForm textarea{
      @apply w-full p-2;
    }

  }