{{if video_location == 'online'}}
    <div class="w-full aspect-w-16 aspect-h-9 ">
    <iframe class="w-full h-full" src="{{ video_embed | embed_url  }}"></iframe>
    </div>
    {{else}}
    <video src="video_file" controls></video>
{{/if}}