<html>
Beste Tineke,
<br><br>
Er is een nieuw bericht via kunstvoorhetleven.nl binnen!
<br><br>
<b>Formulier:</b>
<br><br>
<b>Naam</b> {{name}}
<br>
<b>Email</b> {{email}}
<br>
<b>Telefoon</b> {{tel}}
<br>
<b>Interesse in</b> {{work}}
<br><br>
<b>Bericht:</b><br>
{{comment}}
</html>