<html>
Beste {{name}},
<br><br>
Hartelijk dank voor je bericht, ik neem zo snel mogelijk contact met je op.
<br><br>
Hartelijke groet,
<br><br>
Tineke van Dijk,
<br>
Kunst voor het leven
<br><br>
<b>Jouw bericht:</b>
<br>
{{comment}}
</html>