
<section class="w-full lg:w-C6 relative flex flex-col bg-primary shadow-2xl transition-all hover:scale-105">
    <a href="{{url}}">
    <div class="absolute p-2 right-1 top-1 bg-secondary text-white text-xs transorm -rotate-2">{{article_type:title}}</div>
    <img class="w-full h-[196px] object-cover" src="{{featured_image}}" />
    <div class="w-full py-4 text-center text-white">
        <h3 class=""> {{title}} </h3>
    </div>
    </a>
</section>
