<section class="section">
<section class="row w-container justify-center">
    <section class="w-full lg:w-C10">
        {{bard_content}}
            {{partial src="bard/{{type}}"}}
        {{/bard_content}}
     </section>
</section>
</section>