<section class="w-full group">
    <a class="w-full flex flex-row flex-wrap items-start" href="{{url}}">
        <div class="w-full md:w-C8 ">
            <img class="block relative max-w-full max-h-vh shadow-2xl float-right transition-all group-hover:scale-105" src="{{img:0}}" />
        </div>
        <div class="w-full md:w-C4  -mt-12 md:mt-12 relative flex flex-col transform transition-all -rotate-2 group-hover:-rotate-6">
            <div class="w-64  mb-2 self-end flex flex-row justify-center items-center bg-secondary text-white hadow-2xl">
                <h4 class="">{{product_type:title}}</h4>
            </div>
            <span class="h3 m-0 block w-full bg-white p-6 text-primary transform -rotate-2 shadow-2xl"> {{title}}</span>
            <div class="w-20  self-end flex flex-row justify-center items-center bg-primary text-white shadow-2xl">
                <h4 class="">€ {{price}}</h4>
            </div>
        </div>
    </a>
</section>