<section class="section">
    <section class="row w-container justify-center">
        <section class="w-full lg:w-C10">
            <h1>{{ heading }}</h1>
         </section>
    </section>
    <section class="row w-container">
        {{collection:works}}    
            {{partial:works/listing}}
        {{/collection:works}} 
    </section>
</section>