<section class="section">
<section class="row w-container xl:flex-nowrap">
    <section class="w-full lg:w-C8  grow-0">
    {{img}}
        <a href="{{ url }}" class="block w-auto lg:h-vh  bg-none mb-12 last:mb-0 gallery-demo">
            <img src="{{ url }}" alt="{{ alt }}" class="block max-h-full shadow-lg" />
        </a>
    {{ /img }}
    </section>
    <section class="w-full lg:w-C4 sticky self-start top-20 grow-0">
        <h1 class="h2">{{title}}</h1>
        <h3>€ {{price}}</h3>
        <p>
        {{description}}
         </p>
    </section>
</section>
</section>
<script src="/lib/lumnious/luminous.js"> </script>
<link type="text/css" rel="stylesheet" href="/lib/lumnious/luminous-basic.css" />
<script>
    var l="function"==typeof Object.defineProperties?Object.defineProperty:function(t,i,e){t!=Array.prototype&&t!=Object.prototype&&(t[i]=e.value)},n="undefined"!=typeof window&&window===this?this:"undefined"!=typeof global&&null!=global?global:this;function p(){p=function(){},n.Symbol||(n.Symbol=q)}var r=0;function q(t){return"jscomp_symbol_"+(t||"")+r++}for(var t=n,u=["Object","assign"],v=0;v<u.length-1;v++){var x=u[v];x in t||(t[x]={}),t=t[x]}var A=u[u.length-1],B=t[A],C=B||function(t,i){for(var e=1;e<arguments.length;e++){var n=arguments[e];if(n)for(var o in n)Object.prototype.hasOwnProperty.call(n,o)&&(t[o]=n[o])}return t};C!=B&&null!=C&&l(t,A,{configurable:!0,writable:!0,value:C}),function(t){function i(n){if(e[n])return e[n].K;var o=e[n]={ma:n,ha:!1,K:{}};return t[n].call(o.K,o,o.K,i),o.ha=!0,o.K}var e={};i.u=t,i.f=e,i.a=function(t,e,n){i.b(t,e)||Object.defineProperty(t,e,{enumerable:!0,get:n})},i.r=function(t){p(),p(),"undefined"!=typeof Symbol&&Symbol.toStringTag&&(p(),Object.defineProperty(t,Symbol.toStringTag,{value:"Module"})),Object.defineProperty(t,"__esModule",{value:!0})},i.m=function(t,e){if(1&e&&(t=i(t)),8&e)return t;if(4&e&&"object"==typeof t&&t&&t.ea)return t;var n=Object.create(null);if(i.r(n),Object.defineProperty(n,"default",{enumerable:!0,value:t}),2&e&&"string"!=typeof t)for(var o in t)i.a(n,o,function(i){return t[i]}.bind(null,o));return n},i.g=function(t){var e=t&&t.ea?function(){return t.default}:function(){return t};return i.a(e,"a",e),e},i.b=function(t,i){return Object.prototype.hasOwnProperty.call(t,i)},i.h="",i(i.v=0)}([function(t,i,e){function n(t,i,e){i=void 0===i?{}:i,e=void 0===e?{}:e,this.f=Object.assign({},{la:!0,M:null},i),this.a=t,this.b=e,this.b._gallery=this,this.b._arrowNavigation=this.f.arrowNavigation,this.h()}function o(t,i){if(i=void 0===i?{}:i,this.l=this.l.bind(this),this.open=this.open.bind(this),this.close=this.close.bind(this),this.g=this.g.bind(this),this.h=!1,this.b=t,!h(this.b))throw new TypeError("`new Luminous` requires a DOM element as its first argument.");t=document,"getRootNode"in this.b&&(t=this.b.getRootNode()),t=i.appendToNode||(t===document?document.body:t),this.a={C:i.namespace||null,w:i.sourceAttribute||"href",caption:i.caption||null,aa:i.openTrigger||"click",s:i.closeTrigger||"click",$:!("closeWithEscape"in i)||!!i.closeWithEscape,Z:i.closeOnScroll||!1,A:null==i.showCloseButton||i.showCloseButton,fa:t,Y:i.appendToSelector||null,ja:i.onOpen||null,F:i.onClose||null,B:i.includeImgixJSClass||!1,ga:!("injectBaseStyles"in i)||!!i.injectBaseStyles,i:i._gallery||null,o:i._arrowNavigation||null},i=document.body,t&&"getRootNode"in t&&(i=t.getRootNode()),this.a.ga&&(i&&i!==document||(i=document.head),i.querySelector(".lum-base-styles")||((t=document.createElement("style")).type="text/css",t.classList.add("lum-base-styles"),t.appendChild(document.createTextNode("@keyframes lum-noop{0%{zoom:1}}.lum-lightbox{position:fixed;display:none;top:0;right:0;bottom:0;left:0}.lum-lightbox.lum-open{display:block}.lum-lightbox.lum-closing,.lum-lightbox.lum-opening{animation:lum-noop 1ms}.lum-lightbox-inner{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden}.lum-lightbox-loader{display:none}.lum-lightbox-inner img{max-width:100%;max-height:100%}.lum-lightbox-image-wrapper{vertical-align:middle;display:table-cell;text-align:center}")),i.insertBefore(t,i.firstChild))),this.u(),this.m()}function s(t){t=void 0===t?{}:t,this.g=this.g.bind(this),this.I=this.I.bind(this),this.J=this.J.bind(this),this.v=this.v.bind(this),this.u=this.u.bind(this),this.N=this.N.bind(this),this.L=this.L.bind(this);var i=t,e=void 0===i.C?null:i.C,n=void 0===i.D?l():i.D,o=void 0===i.G?l():i.G,s=void 0===i.w?l():i.w;if(this.a={C:e,D:n,G:o,w:s,caption:void 0===i.caption?null:i.caption,B:void 0!==i.B&&i.B,i:void 0===i.i?null:i.i,o:void 0===i.o?null:i.o,A:void 0===i.A||i.A,F:t.F,s:void 0===i.s?"click":i.s},!h(this.a.D))throw new TypeError("`new Lightbox` requires a DOM element passed as `parentEl`.");this.h=this.a.G,this.S=this.b("open"),this.X=this.b("opening"),this.U=this.b("closing"),this.V=this.W=!1}function h(t){return!!(p&&t instanceof ShadowRoot)||(c?t instanceof HTMLElement:t&&"object"==typeof t&&null!==t&&1===t.nodeType&&"string"==typeof t.nodeName)}function a(t,i){i.forEach((function(i){t.classList.add(i)}))}function r(t,i){i.forEach((function(i){t.classList.remove(i)}))}function l(){throw Error("Missing parameter")}e.r(i);var c="object"==typeof HTMLElement,p="undefined"!=typeof ShadowRoot,u="undefined"!=typeof document&&"animation"in document.createElement("div").style;s.prototype.L=function(t){t&&"function"==typeof t.preventDefault&&t.preventDefault(),(t=this.a.F)&&"function"==typeof t&&t()},s.prototype.ba=function(){this.c.addEventListener(this.a.s,this.L),this.R&&this.R.addEventListener("click",this.L)},s.prototype.b=function(t){var i=["lum-"+t],e=this.a.C;return e&&i.push(e+"-"+t),i},s.prototype.ca=function(){this.c=document.createElement("div"),a(this.c,this.b("lightbox")),this.f=document.createElement("div"),a(this.f,this.b("lightbox-inner")),this.c.appendChild(this.f);var t=document.createElement("div");a(t,this.b("lightbox-loader")),this.f.appendChild(t),this.H=document.createElement("div"),a(this.H,this.b("lightbox-image-wrapper")),this.f.appendChild(this.H),a(t=document.createElement("span"),this.b("lightbox-position-helper")),this.H.appendChild(t),this.j=document.createElement("img"),a(this.j,this.b("img")),t.appendChild(this.j),this.m=document.createElement("p"),a(this.m,this.b("lightbox-caption")),t.appendChild(this.m),this.a.A&&(this.R=document.createElement("div"),a(this.R,this.b("close-button")),this.c.appendChild(this.R)),this.a.i&&this.da(),this.a.D.appendChild(this.c),this.P(),this.O(),this.a.B&&this.j.classList.add("imgix-fluid")},s.prototype.da=function(){this.T("previous",this.J),this.T("next",this.I)},s.prototype.T=function(t,i){var e=document.createElement("button");this[t+"Button"]=e,e.innerText=t,a(e,this.b(t+"-button")),a(e,this.b("gallery-button")),this.f.appendChild(e),e.addEventListener("click",(function(t){t.stopPropagation(),i()}),!1)},s.prototype.g=function(){var t=this.H.style;t.width=this.f.clientWidth+"px",t.maxWidth=this.f.clientWidth+"px",t.height=this.f.clientHeight-this.m.clientHeight+"px",t.maxHeight=this.f.clientHeight-this.m.clientHeight+"px"},s.prototype.O=function(){var t=typeof this.a.caption,i="";"string"===t?i=this.a.caption:"function"===t&&(i=this.a.caption(this.h)),this.m.innerHTML=i},s.prototype.P=function(){var t=this,i=this.h.getAttribute(this.a.w);if(!i)throw Error("No image URL was found in the "+this.a.w+" attribute of the trigger.");var e=this.b("loading");this.W||a(this.c,e),this.j.onload=function(){r(t.c,e),t.W=!0},this.j.setAttribute("src",i)},s.prototype.N=function(t){37==t.keyCode?this.J():39==t.keyCode&&this.I()},s.prototype.I=function(){this.a.i&&(this.h=this.a.i.ia(this.h),this.P(),this.O(),this.g(),this.a.i.M({j:this.j}))},s.prototype.J=function(){this.a.i&&(this.h=this.a.i.ka(this.h),this.P(),this.O(),this.g(),this.a.i.M({j:this.j}))},s.prototype.open=function(){this.V||(this.ca(),this.ba(),this.V=!0),this.h=this.a.G,this.P(),this.O(),a(this.c,this.S),this.g(),window.addEventListener("resize",this.g,!1),this.a.o&&window.addEventListener("keydown",this.N,!1),u&&(this.c.addEventListener("animationend",this.v,!1),a(this.c,this.X))},s.prototype.close=function(){window.removeEventListener("resize",this.g,!1),this.a.o&&window.removeEventListener("keydown",this.N,!1),u?(this.c.addEventListener("animationend",this.u,!1),a(this.c,this.U)):r(this.c,this.S)},s.prototype.v=function(){this.c.removeEventListener("animationend",this.v,!1),r(this.c,this.X)},s.prototype.u=function(){this.c.removeEventListener("animationend",this.u,!1),r(this.c,this.S),r(this.c,this.U)},s.prototype.l=function(){this.c&&this.a.D.removeChild(this.c)},o.prototype.open=function(t){t&&"function"==typeof t.preventDefault&&t.preventDefault(),this.f.open(),this.a.Z&&window.addEventListener("scroll",this.close,!1),(t=this.a.ja)&&"function"==typeof t&&t(),this.h=!0},o.prototype.close=function(){this.a.Z&&window.removeEventListener("scroll",this.close,!1),this.f.close();var t=this.a.F;t&&"function"==typeof t&&t(),this.h=!1},o.prototype.u=function(){var t=this.a.fa;this.a.Y&&(t=document.querySelector(this.a.Y)),this.f=new s({C:this.a.C,D:t,G:this.b,w:this.a.w,caption:this.a.caption,B:this.a.B,A:this.a.A,i:this.a.i,o:this.a.o,s:this.a.s,F:this.close})},o.prototype.m=function(){this.b.addEventListener(this.a.aa,this.open,!1),this.a.$&&window.addEventListener("keyup",this.g,!1)},o.prototype.v=function(){this.b.removeEventListener(this.a.aa,this.open,!1),this.f.c&&this.f.c.removeEventListener(this.a.s,this.close,!1),this.a.$&&window.removeEventListener("keyup",this.g,!1)},o.prototype.g=function(t){this.h&&27===t.keyCode&&this.close()},o.prototype.l=function(){this.v(),this.f.l()},o.prototype.open=o.prototype.open,o.prototype.close=o.prototype.close,o.prototype.destroy=o.prototype.l,n.prototype.h=function(){this.g=[];for(var t=this.a.length,i=0;i<t;i++){var e=new o(this.a[i],this.b);this.g.push(e)}},n.prototype.ia=function(t){return(t=Array.prototype.indexOf.call(this.a,t)+1)>=this.a.length?this.a[0]:this.a[t]},n.prototype.ka=function(t){return 0>(t=Array.prototype.indexOf.call(this.a,t)-1)?this.a[this.a.length-1]:this.a[t]},n.prototype.M=function(t){t=t.j;var i=this.f.M;i&&"function"==typeof i&&i({j:t})},n.prototype.l=function(){this.g.forEach((function(t){return t.l()}))},n.prototype.destroy=n.prototype.l,window.LuminousGallery=n,window.Luminous=o}]);
    //# sourceMappingURL=luminous.min.js.map
    var galleryOpts = {
        // Whether pressing the arrow keys should move to the next/previous slide.
        arrowNavigation: true
    };
    new LuminousGallery(document.querySelectorAll(".gallery-demo"),galleryOpts); 
</script>